<div class="body">
  <div class="header">
    <div class="title">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="offset-8"></div>
          <div class="col-2 text-right">
            <h1 class="text-warning">Magazinul Bisericesc Sfântul Elan</h1>
          </div>
          <div class="col-2 text-left">
            <img src="../../assets/img/sfElan.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark margin-menu">

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let c of categories" [ngClass]="{'nav-item-active': selectedCategoryId == c.id }" (click)="selectCategory(c)">
          <a class="nav-link">{{c.description}}</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-3">
    <div class="row">
      <div class="col-4 mb-3" *ngFor="let p of products">
        <div class="card">
          <img class="card-img-top" [src]="p.imageUrl || 'https://images.pexels.com/photos/158136/greece-holidays-holiday-summer-158136.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{p.name}}</h5>
            <hr>
            <p class="card-text">{{p.description}}</p>
            <div class="my-2">
              <div class="small">Producator: <span class="font-weight-bold"> {{p.holyProvider?.name}}</span></div>
              <small class="text-muted">{{p.holyProvider?.description}}</small>
            </div>
            <hr>
            <button ngbTooltip="What a great tip!" matTooltip="bagă-n coșniță" class="btn btn-success btn-block">{{p.price}} MDL<i class="fas fa-shopping-cart fa-lg ml-2"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

