<div class="body">
  <div class="header">
    <div class="title">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="offset-8"></div>
          <div class="col-2 text-right">
            <h1 class="text-warning">Magazinul Bisericesc "Sfântu' Elan"</h1>
          </div>
          <div class="col-2 text-left">
            <img src="../../assets/img/sfElan.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark margin-menu">

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let c of categories" (click)="selectCategory(c)">
          <a class="nav-link" [ngClass]="{'nav-item-active': selectedCategoryId === c.id }">{{c.description}}</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-3">
    <div class="row align-item-center">
      <div class="col-4 mb-3" *ngFor="let p of products" (deferLoad)="p.showImage = true">
        <div class="card">

          <div class="images">
            <ng-container *ngIf="p.showImage">
              <img class="card-img-top" [src]="p.imageUrl" width="100%" alt="Obiect Sfânt"/>
            </ng-container>
          </div>

          <div class="card-body">
            <h5 class="card-title">{{p.name}}</h5>
            <hr>
            <p class="card-text">{{p.description}}</p>
            <div class="my-2">
              <div class="small">Producator: <span class="font-weight-bold"> {{p.holyProvider?.name}}</span></div>
              <small class="text-muted">{{p.holyProvider?.description}}</small>
            </div>
            <div class="card-footers">
              <button class="btn btn-success btn-block" (click)="buy(p)">{{p.price}} MDL<i class="fas fa-shopping-cart fa-lg ml-2"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="elon">
  <img src="https://image.noelshack.com/fichiers/2018/36/5/1536327851-muskjoint.png" alt="">
</div>
